@mixin flex($aligin-item, $justify-content) {
    display: flex;
    align-items: $aligin-item;
    justify-content: $justify-content;
}

@mixin overlay {
    background-color: rgba($color: #000000, $alpha: 0.6);
}

@mixin styleText($fs, $color, $fw) {
    font-size: $fs;
    color: $color;
    font-weight: $fw;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
}
@mixin selectDropdown($w, $p) {
    width: $w;
    padding: $p;
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        right: 0;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
        border-right: 1px solid $color-gray-2;
    }
}
@mixin selectDropdownMenu($left, $w, $h) {
    border-radius: 5px;
    left: $left !important;
    top: 0;
    min-width: $w;
    max-height: $h;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-gray-1;
    }
    .dropdown-item {
        cursor: pointer;
        transition: all 0.2s;
        padding: 3px 20px;
        white-space: nowrap;
        color: $color-black-1;
        line-height: 1.42857143;
        font-size: $fs-1;
        &:hover {
            background-color: $color-blue-0;
            color: $color-white-0;
        }
    }
}
// @mixin styleButton($bg-color, $border, $py,$px) {
//     background-color: $bg-color;
//     border: 1px solid $border;
//     padding: $py $px;
//     border-radius: $border-radius;

// }
// @mixin styleHoverBtn($bg-hover, $border-hover,$color-hover) {
//     background-color: $bg-hover;
//     border-color: $border-hover;
//     color: $color-hover;
// }
@mixin responsiveMax($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "Man hinh khong ton tai";
    }
}
@mixin responsiveMin($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );
        @media screen and (min-width: $value) {
            @content;
        }
    } @else {
        @warn "Man hinh khong ton tai";
    }
}

//mainMaxWidth

@mixin mMainMaxWidth {
    .mainMaxWidth {
        max-width: 940px;
        float: none;
        margin: auto;
        clear: both;
    }
}

//block

@mixin mBlock {
    .block {
        padding-top: 75px;
        padding-left: 0;
        padding-right: 0;
    }
}

@mixin mNavCenter {
    .nav-tabs.navCenter {
        text-align: center;
        justify-content: center;
        border: none;
        margin-bottom: 30px;

        li {
            display: inline-block;
            float: none;
            margin-right: 5px;

            a.active {
                color: $activeColor;
                font-size: 24px;
                background-color: transparent;
            }
            a {
                color: #000;
                font-size: 20px;
                line-height: 24px;
                height: 24px;
                border: none;
                transition: all 0.2s;
                cursor: pointer;

                &:hover {
                    font-size: 24px;
                }
            }
        }
    }
}

//img__head__block

@mixin mImgHeadBlock {
    .img__head__block {
        padding-top: 120px;
        background-image: url(./../../img/back-news.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

//btnViewMore

@mixin mButtonViewMore {
    .btnViewMore {
        text-transform: uppercase;
        font-size: 14px;
        color: #949494;
        border: 1px solid #949494;
        border-radius: 4px;
        text-align: center;
        background: 0 0;
        padding: 7px 25px;
        transition: all 0.2s;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 20px;
        display: block;

        &:hover {
            border: 1px solid $color-red-0;
            color: $whiteColor;
            background-color: $color-red-0;
        }
    }
}

//ageType

@mixin mAgeType {
    .ageType.ageType-general {
        background-color: $ageGeneralColor;
    }

    .ageType {
        font-size: 14px;
        background-color: $ageTypeColor;
        border-radius: 4px;
        padding: 0 5px;
        color: #fff;
        min-width: 33px;
        text-align: center;
        display: inline-block;
        margin-right: 8px;
    }
}

@mixin mModalTrailer {
    #modalTrailer {
        .close {
            position: absolute;
            top: -20px;
            right: -20px;
            opacity: 1;
            z-index: 99;
            padding: 0;
            cursor: pointer;
            background: 0 0;
            border: 0;
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;

            &:focus {
                outline: none;
            }
        }
        .modal-dialog {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            width: 900px;

            .modal-content {
                position: relative;
                background-color: #000;
                background-clip: padding-box;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 6px;
                outline: 0;

                .modal-body {
                    overflow-y: unset;
                    overflow-x: unset;
                    width: 100%;
                    padding: 0;
                    padding-bottom: 56.25%;
                    padding-top: 25px;
                    height: 0;
                    position: relative;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .modal-content {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }
    }
}

@mixin responsive($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        // tìm thấy màn hình
        // Lấy giá trị từ tên màn hình
        // $value chứ giá trị lấy được
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );

        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn 'Màn hình không tồn tại';
    }
}
