.movie__listCinemas {
    .ant-collapse {
        background-color: $color-white-0;
    }
    .hideOnPC {
        display: none;
    }
    .listCinemasMobile {
        .titleCinemaMobile {
            display: flex;
            align-items: center;
            .logoCinemasMobile {
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }
            .nameCinemasMobile {
                font-size: 17px;
            }
        }
        .titleCinemasChildMobile {
            display: flex;
            align-items: center;
            .logoCinemasChildMobile {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
            .nameCinemasChildMobile {
                color: $color-black-2;
                font-weight: 600;
            }
            .addCinemasChildMobile {
                font-size: 13px;
                color: $color-gray-0;
            }
        }
        .infoFilmCinemaMobile{
            display: flex;
            align-items: center;
            .imgFilmMobile{
                width: 40px;
                height: 40px;
                border-radius: 3px;
                margin-right: 10px;
            }
            .infoFilmMobileDetail{
                .typeAgeMobile{
                    color: $color-white-0;
                    background-color: $color-red-0;
                    border-radius: 4px;
                    min-width: 33px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 8px;
                }
                .nameFilmCinemaMobile{
                    font-weight: 600;
                }
                .timeReviewFilmMobile{
                    font-size: 12px;
                    color: $color-gray-0;
                }
            }
        }
        .movieTime {
            padding: 5px 10px;
            border: 1px solid $color-gray-0;
            text-align: center;
            border-radius: 7px;
            color: #9b9b9b;
            background-color: #fafafa;
            border: 1px solid #e4e4e4;
            cursor: pointer;
            margin:0 10px 10px 0 !important;
        }
        .cinemaChildMobile{
            .ant-collapse-content > .ant-collapse-content-box {
                padding: 10px 0 ;
                border:0;
            }
            .ant-collapse.ant-collapse-icon-position-right.filmMobile {
                border: none;
            }
        }
        .ant-collapse.ant-collapse-icon-position-right.cinemaChildMobile {
            border:none;
            border-radius: 20px !important;
        }
    }
}

// responsive
@include responsive("medium") {
    .hideOnMobile {
        display: none !important;
    }
}
@include responsive("medium") {
    .movie__listCinemas .hideOnPC {
        display: block !important;
    }
}
